/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'league_gothicregular';
  src: url("../fonts/leaguegothic-regular.eot");
  src: url("../fonts/leaguegothic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular.woff2") format("woff2"), url("../fonts/leaguegothic-regular.woff") format("woff"), url("../fonts/leaguegothic-regular.ttf") format("truetype"), url("../fonts/leaguegothic-regular.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.hidden {
  height: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

.main-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header .logo_top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.top_nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}

.top_nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  font-family: league_gothicregular;
}

.top_nav button {
  display: inline-block;
  padding-left: 80px;
  padding-right: 80px;
  color: white;
  font-size: 20px;
  font-family: league_gothicregular;
  background-color: Transparent;
  font-weight: bolder;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
